.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em;
}

.imageWrapper {
  max-width: 400px;
  max-height: 400px;
  height: 400px;
  width: 400px;
}

.imageWrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  padding: 2em;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  justify-content: center;
}

.image {
  transition: opacity 0.3s ease-in-out;
}

.image:hover {
  opacity: 0.7;
}

.skeletonListItem {
  background-color: var(--lightGrey);
  border: 1px solid red;
}

.textWrapper {
  width: 100%;
  max-width: 400px;
  height: 100%;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.textWrapper h1,
.textWrapper small,
.textWrapper p {
  text-align: left;
}

.textWrapper p {
  line-height: 1.5;
}

.textWrapper h1,
.textWrapper small {
  text-transform: uppercase;
}

.textWrapper small {
  color: var(--lightGrey);
}

.textWrapper h1 {
  font-size: var(--font-xxl);
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .list {
    flex-direction: column;
    padding: 1em;
  }

  .wrapper {
    padding: 1em;
  }

  .imageWrapper {
    width: 100%;
    height: 300px;
    max-width: 343px;
    max-height: 300px;
  }

  .listItem {
    flex-direction: column;
    gap: 1em;
  }

  .listItem a {
    width: 100%;
  }

  .textWrapper h1,
  .textWrapper small {
    width: 100%;
    text-align: center;
  }
}
