.wrapper {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.skinnyContainer {
  width: 520px;
  max-width: 520px;
  height: 690px;
  max-height: 690px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 470px;
  max-width: 470px;
  height: 670px;
  max-height: 670px;
}

.image {
  padding: 0 2em;
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  background-image: url("../../public/images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#collabHorizontal {
  display: none;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    padding: 1em;
    max-width: 100%;
    height: 700px;
    max-height: 700px;
  }

  .wrapper>div:first-of-type {
    height: 150px;
    padding: 0;
  }

  .container {
    max-width: 100%;
    height: 300px;
    padding: 1em;
  }

  #collabVertical {
    display: none;
  }

  #collabHorizontal {
    display: flex;
    height: 150px;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
  }

  .skinnyContainer {
    width: 100%;
    height: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
  }

  .skinnyContainer img {
    padding: 0;
    object-position: 100%;
  }
}