.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5em;
    max-width: 650px;
}

.container p {
    color: var(--lightGrey);
    line-height: 1.5;
}

.container p,
.container small,
.container h1 {
    text-align: left;
}

.container h1 {
    width: 100%;
    font-size: var(--font-xxl);
    text-transform: capitalize;
}

.container small {
    text-transform: capitalize;
}