.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .wrapper {
    flex-wrap: wrap;
    padding: 1em;
  }

  .imageWrapper {
    width: 35%;
  }
}
