.heroWrapper {
  width: 100%;
  max-width: 100vw;
  height: 750px;
  min-height: 750px;
  padding: 2em;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 90px;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em;
  color: white;
  gap: 0.5em;
}

.container p {
  width: 300px;
  font-size: 16px;
}

.container h1 {
  font-size: 32px;
}